	START
	JUMP MAIN


CONVRT:
	PUSHN 4
	PUSHL -3
	STOREL 1
	PUSHL -2
	STOREL 2
	PUSHI 0
	STOREL 6
	PUSHI 1
	STOREL 5
	PUSHL 1
	STOREL 3
FL1:
	PUSHL 3
	PUSHI 0
	ITOF
	FSUP
	JZ ELSE2
	PUSHL 3
	PUSHL 2
	MOD
	STOREL 4
	PUSHL 6
	PUSHL 4
	PUSHL 5
	FMUL
	FADD
	STOREL 6
	PUSHL 3
	PUSHL 2
	FDIV
	STOREL 3
	PUSHL 5
	PUSHI 10
	ITOF
	FMUL
	STOREL 5
	JUMP FL1
	JUMP ENDIF3
ELSE2:
ENDIF3:
	PUSHL 6
	STOREL 0
	PUSHL 0
	RETURN
	PUSHL 0
	RETURN
MAIN:
	PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
	WRITES
	WRITELN
	READ
	ATOI
	STOREG 0
	PUSHI 2
	STOREG 1
DOCHK6:
	PUSHG 1
	PUSHI 9
	INFEQ
	JZ DOEND4
	PUSHG 0
	PUSHG 1
	PUSHA CONVRT
	CALL
	STOREG 2
	PUSHS "BASE "
	WRITES
	PUSHS " "
	WRITES
	PUSHG 1
	WRITEF
	PUSHS " "
	WRITES
	PUSHS ": "
	WRITES
	PUSHS " "
	WRITES
	PUSHG 2
	WRITEF
	WRITELN
FL5:
	PUSHG 1
	PUSHI 1
	ADD
	STOREG 1
	JUMP DOCHK6
DOEND4:
	STOP