	START

	PUSHI 3
	STOREG 0
	PUSHI 7
	STOREG 1
	PUSHI 5
	STOREG 2
	PUSHG 0
	STOREG 4000
	PUSHG 1
	STOREG 4001
	PUSHG 4001
	PUSHG 4000
	SUP
	JZ MMKEEP1
	PUSHG 4001
	STOREG 4000
	JUMP MMEND2
MMKEEP1:
MMEND2:
	PUSHG 2
	STOREG 4001
	PUSHG 4001
	PUSHG 4000
	SUP
	JZ MMKEEP3
	PUSHG 4001
	STOREG 4000
	JUMP MMEND4
MMKEEP3:
MMEND4:
	PUSHG 4000
	STOREG 3
	PUSHG 0
	STOREG 4000
	PUSHG 1
	STOREG 4001
	PUSHG 4001
	PUSHG 4000
	INF
	JZ MMKEEP5
	PUSHG 4001
	STOREG 4000
	JUMP MMEND6
MMKEEP5:
MMEND6:
	PUSHG 2
	STOREG 4001
	PUSHG 4001
	PUSHG 4000
	INF
	JZ MMKEEP7
	PUSHG 4001
	STOREG 4000
	JUMP MMEND8
MMKEEP7:
MMEND8:
	PUSHG 4000
	STOREG 4
	PUSHG 3
	WRITEF
	WRITELN
	PUSHG 4
	WRITEF
	WRITELN
	STOP