	START

	PUSHI 2
	PUSHI 10
	STOREG 4001
	STOREG 4000
	PUSHI 1
	STOREG 4002
POWCHK1:
	PUSHG 4001
	PUSHI 0
	SUP
	JZ POWEND2
	PUSHG 4002
	PUSHG 4000
	MUL
	STOREG 4002
	PUSHG 4001
	PUSHI 1
	SUB
	STOREG 4001
	JUMP POWCHK1
POWEND2:
	PUSHG 4002
	STOREG 0
	PUSHG 0
	WRITEF
	WRITELN
	STOP