	START

	PUSHI 0
	STOREG 6
	PUSHS "Introduza 5 numeros inteiros:"
	WRITES
	WRITELN
	PUSHI 1
	STOREG 5
DOCHK3:
	PUSHG 5
	PUSHI 5
	INFEQ
	JZ DOEND1
	READ
	ATOI
	STOREG 4000
	PUSHGP
	PUSHI 0
	PADD
	PUSHG 5
	PUSHI 1
	SUB
	PADD
	PUSHG 4000
	STORE 0
	PUSHG 6
	PUSHGP
	PUSHI 0
	PADD
	PUSHG 5
	PUSHI 1
	SUB
	PADD
	LOAD 0
	ITOF
	FADD
	STOREG 6
FL2:
	PUSHG 5
	PUSHI 1
	ADD
	STOREG 5
	JUMP DOCHK3
DOEND1:
	PUSHS "A soma dos numeros e: "
	WRITES
	PUSHS " "
	WRITES
	PUSHG 6
	WRITEF
	WRITELN
	STOP