	START
	JUMP __MAIN__


CONVRT:
	ALLOC 4
	PUSHL -3
	POPL 1
	PUSHL -2
	POPL 2
	PUSHI 0
	POPL 6
	PUSHI 1
	POPL 5
	PUSHL 1
	POPL 3
FL1:
	PUSHL 3
	PUSHI 0
	ITOF
	SUP
	JZ ELSE2
	PUSHL 3
	PUSHL 2
	MOD
	POPL 4
	PUSHL 6
	PUSHL 4
	PUSHL 5
	MULF
	ADDF
	POPL 6
	PUSHL 3
	PUSHL 2
	DIVF
	POPL 3
	PUSHL 5
	PUSHI 10
	ITOF
	MULF
	POPL 5
	JUMP FL1
	JUMP ENDIF3
ELSE2:
ENDIF3:
	PUSHL 6
	POPL 0
	PUSHL 0
	RETURN
	PUSHL 0
	RETURN
__MAIN__:
	PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
	WRITES
	WRITELN
	READ
	POPG 0
	PUSHI 2
	POPG 1
DO_CHK6:
	PUSHG 1
	PUSHI 9
	INFEQ
	JZ DO_END4
	PUSHG 0
	PUSHG 1
	PUSHA CONVRT
	CALL
	POPG 2
	PUSHS "BASE "
	WRITES
	PUSHS " "
	WRITES
	PUSHG 1
	WRITEF
	PUSHS " "
	WRITES
	PUSHS ": "
	WRITES
	PUSHS " "
	WRITES
	PUSHG 2
	WRITEF
	WRITELN
FL5:
	PUSHG 1
	PUSHI 1
	ADD
	POPG 1
	JUMP DO_CHK6
DO_END4:
	STOP