	START

	PUSHS "Introduza um numero inteiro positivo:"
	WRITES
	WRITELN
	READ
	POPG 0
	PUSHI 1
	POPG 2
	PUSHI 1
	POPG 1
DO_CHK3:
	PUSHG 1
	PUSHG 0
	INFEQ
	JZ DO_END1
	PUSHG 2
	PUSHG 1
	ITOF
	MULF
	POPG 2
FL2:
	PUSHG 1
	PUSHI 1
	ADD
	POPG 1
	JUMP DO_CHK3
DO_END1:
	PUSHS "Fatorial de "
	WRITES
	PUSHS " "
	WRITES
	PUSHG 0
	WRITEI
	PUSHS " "
	WRITES
	PUSHS ": "
	WRITES
	PUSHS " "
	WRITES
	PUSHG 2
	WRITEF
	WRITELN
	STOP