	START

	PUSHN 25
	PUSHS "Quantos termos da sequencia de Fibonacci?"
	WRITES
	WRITELN
	READ
	ATOI
	STOREG 0
	PUSHI 0
	STOREG 2
	PUSHI 1
	STOREG 3
	PUSHS "Sequencia: "
	WRITES
	WRITELN
	PUSHI 1
	STOREG 1
DOCHK3:
	PUSHG 1
	PUSHG 0
	INFEQ
	JZ DOEND1
	PUSHG 2
	WRITEI
	WRITELN
	PUSHG 2
	PUSHG 3
	ADD
	STOREG 4
	PUSHG 3
	STOREG 2
	PUSHG 4
	STOREG 3
FL2:
	PUSHG 1
	PUSHI 1
	ADD
	STOREG 1
	JUMP DOCHK3
DOEND1:
	STOP