	START

	PUSHI 3
	POPG 0
	PUSHI 7
	POPG 1
	PUSHI 5
	POPG 2
	PUSHG 0
	POPG 4000
	PUSHG 1
	POPG 4001
	PUSHG 4001
	PUSHG 4000
	SUP
	JZ MM_CUR1
	PUSHG 4001
	POPG 4000
	JUMP MM_END2
MM_CUR1:
MM_END2:
	PUSHG 2
	POPG 4001
	PUSHG 4001
	PUSHG 4000
	SUP
	JZ MM_CUR3
	PUSHG 4001
	POPG 4000
	JUMP MM_END4
MM_CUR3:
MM_END4:
	PUSHG 4000
	POPG 3
	PUSHG 0
	POPG 4000
	PUSHG 1
	POPG 4001
	PUSHG 4001
	PUSHG 4000
	INF
	JZ MM_CUR5
	PUSHG 4001
	POPG 4000
	JUMP MM_END6
MM_CUR5:
MM_END6:
	PUSHG 2
	POPG 4001
	PUSHG 4001
	PUSHG 4000
	INF
	JZ MM_CUR7
	PUSHG 4001
	POPG 4000
	JUMP MM_END8
MM_CUR7:
MM_END8:
	PUSHG 4000
	POPG 4
	PUSHG 3
	WRITEF
	WRITELN
	PUSHG 4
	WRITEF
	WRITELN
	STOP