	START

	PUSHI 2
	PUSHI 10
	POPG 4001
	POPG 4000
	PUSHI 1
	POPG 4002
POW_CHK1:
	PUSHG 4001
	PUSHI 0
	SUP
	JZ POW_END2
	PUSHG 4002
	PUSHG 4000
	MUL
	POPG 4002
	PUSHG 4001
	PUSHI 1
	SUB
	POPG 4001
	JUMP POW_CHK1
POW_END2:
	PUSHG 4002
	POPG 0
	PUSHG 0
	WRITEF
	WRITELN
	STOP