	START

	PUSHN 21
	PUSHI 2
	PUSHI 10
	STOREG 1
	STOREG 2
	PUSHG 2
	PUSHG 1
	STOREG 1
	STOREG 2
	PUSHI 1
	STOREG 3
POWCHK1:
	PUSHG 1
	PUSHI 0
	SUP
	JZ POWEND2
	PUSHG 3
	PUSHG 2
	MUL
	STOREG 3
	PUSHG 1
	PUSHI 1
	SUB
	STOREG 1
	JUMP POWCHK1
POWEND2:
	PUSHG 3
	STOREG 0
	PUSHG 0
	WRITEI
	WRITELN
	STOP