	START

	PUSHI 0
	POPG 6
	PUSHS "Introduza 5 numeros inteiros:"
	WRITES
	WRITELN
	PUSHI 1
	POPG 5
DO_CHK3:
	PUSHG 5
	PUSHI 5
	INFEQ
	JZ DO_END1
	READ
	PUSHGP
	PUSHI 0
	PADD
	PUSHG 5
	PUSHI 1
	SUB
	PADD
	STORE 1
	PUSHG 6
	PUSHGP
	PUSHI 0
	PADD
	PUSHG 5
	PUSHI 1
	SUB
	PADD
	LOAD 1
	ITOF
	ADDF
	POPG 6
FL2:
	PUSHG 5
	PUSHI 1
	ADD
	POPG 5
	JUMP DO_CHK3
DO_END1:
	PUSHS "A soma dos numeros e: "
	WRITES
	PUSHS " "
	WRITES
	PUSHG 6
	WRITEF
	WRITELN
	STOP